#howtoplay
    h2 How to play             
    p 
        | Control your curve with the LEFT ARROW and RIGHT ARROW keys.
        | You die when you hit any other curve. The winner of a round is 
        | the player that survives until all other players have died.
        
    h3 Scoring
    p 
        | Points are allocated based on how many players you "outsurvive".
        | The winner of a round recieves NUM_PLAYERS - 1 points, the runner-up
        | NUM_PLAYERS - 2, etc.

    h3 Score limit
    p
        | The winner of a game is decided upon reaching a score limit. 
        | The score limit is dynamic and depends on the number of players 
        | currently in the room. 
         
    p Score limit = 10 * (NUM_PLAYERS - 1).